.App {
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
}

.left {
  flex: 1;
  text-align: left;
  color: rgb(255, 196, 0);
}

.right {
  flex: 1;
  text-align: right;
}

.createRecipe {
  padding: 10px 20px;
  background-color: #eea913;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.createRecipe:hover {
  background-color: #996a12;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.recipe-box {
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.recipe-box img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-info {
  color: #333;
}

.recipe-info h3 {
  margin-top: 0;
}

.recipe-info ul {
  list-style: none;
  padding: 0;
}

.recipe-info ul li {
  margin-bottom: 5px;
}

.recipe-info h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
