.App {
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
}
.username {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}
.left {
  flex: 1;
  text-align: left;
  color: rgb(255, 196, 0);
}

.right {
  flex: 1;
  text-align: right;
}

.createRecipe {
  padding: 10px 20px;
  background-color: #eea913;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.login {
  padding: 10px 20px;
  background-color: #eea913;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.login:hover {
  background-color: #996a12;
}

.createRecipe:hover {
  background-color: #996a12;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.recipe-box {
  position: relative;
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.recipe-box img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipe-info {
  color: #333;
}

.recipe-info h3 {
  margin-top: 0;
}

.recipe-info ul {
  list-style: none;
  padding: 0;
}

.recipe-info ul li {
  margin-bottom: 5px;
}

.recipe-info h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.search-icon {
  color: black; /* Set icon color to black */
}


.search-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
.results-list {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}
.search-result {
  padding: 10px 20px;
}

.search-result:hover {
background-color: #efefef;
}
.search-bar-container{
  padding-top: 5vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.search-input {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}
.link {
  color: yellow; 
  text-decoration: none; 
  padding-right: 20px;
}

.link:hover {
  color: blue; 
}

.like-button {
  background: none;
  border: none; 
  padding: 5px; 
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.author-link {
  cursor: pointer;
}

/* App.css */
.dropdown-content {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #ddd;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 8px;
}

.search-input:hover .dropdown-content {
  display: block;
}
