/* ChangePasswordPage.css */

.container {
 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  height: 1000;
  overflow: visible;
}
.element{
  margin-bottom: 25px;
}
