.comments-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  .comments-section ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
  }
  
  .comment-item {
    margin-bottom: 20px;
  }
  
  .comment-header {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    height: 1rem;
  }
  
  .comment-author {
    font-weight: bold;
    color: #333;
  }
  
  .comment-posted-at {
    color: #888;
  }
  
  .comment-text {
    display: flex;
  }
  
  .comment-input {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 3rem;
  }
  
  .comment-button {
    padding: 10px 20px;
    background-color: #143109 !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 3rem;
  }
  
  .comment-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }

  .enterComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  