.edit-recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .edit-recipe-form {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-recipe-form h2 {
    margin-bottom: 20px;
  }
  
  .edit-recipe-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .edit-recipe-form input,
  .edit-recipe-form textarea,
  .edit-recipe-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .edit-recipe-form button,
  .edit-recipe-form a {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .edit-recipe-form button:hover,
  .edit-recipe-form a:hover {
    background-color: #0056b3;
  }
  .class-kazkur {
    background-color: white;
  }