.non-verified-products {
  background-color: #E9E2CD;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: auto;
  width: 800px;
  overflow: visible;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  border-radius: 20px;
  }
  
  .product-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  
  .product-item {
    background-color: #143109;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    color: white;
  }
  
  /* Hover effect for each item */
  .product-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .product-details {
    flex-grow: 1; /* Allow the product details to grow and take up available space */
    margin-right: 10px; /* Add some margin to separate the product details from the button */
  }
  
  button {
    flex-shrink: 0; /* Prevent the button from shrinking */
  }
  